* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root, input, button {
    font-family: "Montserrat";
  }

  body {
    background: url("https://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg") no-repeat center/cover;
    min-height: 100vh;
  }